site
/docs/
Java应用技术 
中国近现代史纲要
中级宏观经济学
中级有机化学
人工智能-CS
人工智能-ISEE
仪器分析
体育/体育理论考试
信号与系统/课本与辅导
信息安全原理
信息系统安全
军事理论
创业启程
化学实验（乙）
哲学方法
商业银行导论/课件
固定收益证券与模型
图像信息处理
城市地理学
复变函数
复变函数与拉普拉斯变换x
大学物理
大学物理实验
大学英语IV
大学英语Ⅲ
大学英语Ⅳ（H）
密码学
密码学与网络基础
嵌入式系统-控制/课件
嵌入式系统
工程图学
工程训练
常微分方程
微观经济学（甲）
心理学及应用
托福写作
托福口语
托福阅读
控制工程Ⅰ
操作系统
数值分析
数字图像处理
数学分析（甲）Ⅰ（H）/作业
数据分析与系统辨识
数据库系统原理
数据挖掘导论
数据结构与数据库技术
数据结构基础
数据通信与计算机网络Data Connectino and Computer Network

无线与物联网安全基础

无线网络应用

日语Ⅱ

普通化学（H）

普通物理学Ⅰ（H）

普通物理学Ⅱ（H）/作业

机器人学/实验

机械电子控制工程（甲）Ⅰ

核电站

概率论与数理统计

毕业设计

毛泽东思想和中国特色社会主义理论体系概论/资料

汇编与接口

物理化学

现代测量学

理论力学

生物医用高分子

电工电子学及实验

电路与模拟电子技术/模电部分知识点总结

离散数学(ckc)

离散数学及其应用

程序设计专题

程序设计基础

程序设计方法学

线性代数

综合英语Ⅱ/作业

编译原理

自动控制理论（乙）Ⅰ

计算机体系结构

计算机原理

计算机硬件基础

计算机系统概论

计算机组成

计算机组成与系统结构

计算机网络基础

计算机视觉

计算理论

资产定价

软件工程

运筹学与系统工程

逻辑与计算机设计基础

面向ICCAD的软件基础技术

面向信息技术的沟通技巧

面向对象程序设计

马克思主义基本原理

高分子化学

高分子合成工艺学

高分子材料

高分子物理

高级数据结构与算法分析
